/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');


body{
    display: flex;
    flex-direction: column;
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: cover;
}
.appContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    display: flex;
    border-radius: 5px;
    background-color: white ;
    color: black ;
    padding: 4px;
    margin: 5px;
    outline: none;
    border: none;
    transition: .2s ease-in-out;
    font-family: 'Lexend', sans-serif;
}
.btn:hover{
    scale: .95;
    background-color: black;
    color: white;
}
.btn:active{
    transform: translateY(2px);
}

.spinner {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
  /* background-color: rgba(0, 0, 0, 0.675); */
  z-index: 999;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #5c5c5caa; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000000aa; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }